[Unit]
Description=Refresh Homelab App Secrets Every Hour
Documentation=https://github.com/LuckyPrayer/homelab-apps

[Timer]
# Run every hour at a random time within the first 10 minutes
# to avoid all hosts hitting Infisical simultaneously
OnCalendar=hourly
RandomizedDelaySec=600
Persistent=true

[Install]
WantedBy=timers.target
