# Traefik Certificate Backup Environment
# Used by cert-backup.sh for B2 backups

B2_ACCOUNT_ID="{{ traefik_proxy_b2_account_id }}"
B2_ACCOUNT_KEY="{{ traefik_proxy_b2_account_key }}"
B2_BUCKET="{{ traefik_proxy_b2_bucket }}"
RESTIC_PASSWORD="{{ traefik_proxy_restic_password }}"
